.bg{
    background-image: url('/terence-burke-ianPiLGoZBM-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.contactforms{
    background-color: 2d2d2d;
}
.banking{
    background-image: url('/wallet-gbe210c72b_640.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.communication{
    background-image: url('/skyscrapers-ge9fc59c2c_640.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}
.Electronics{
    background-image: url('/sahand-babali-owjrvbyXYyc-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.Consumer{
    background-image: url('/fikri-rasyid-ezeC8-clZSs-unsplash\ \(1\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.Education{
    background-image: url('/alexandre-van-thuan-mr9FouttLGY-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;

}
.Construction{
    background-image: url('/public/josue-isai-ramos-figueroa-qvBYnMuNJ9A-unsplash\ \(1\).jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.Industries{
    background-image: url('/public/mech-mind-Xl_l8laGNs0-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.Insurance{
    background-image: url('/public/real-estate-g3201fb00d_640.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.LifeScience{
    background-image: url('/public/female-scientist-typing-her-computer-data-from-last-scientific-tests-chemistry-lab.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.MediaInfo{
    background-image: url('/public/corporate-management-strategy-solution-branding-concept.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.Natural{
        background-image: url('/public/smart-agriculture-iot-with-hand-planting-tree-background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    
}
.Oil{
    background-image: url('/public/closeup-view-cylindrical-grinder-industrial-concept.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}
.Products{
    background-image: url('/public/standard-quality-control-concept-m-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    

}
.Profession{
    background-image: url('/public/christina-wocintechchat-com-faEfWCdOKIg-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    

}
.PublicSector{
    background-image: url('/public/business-people-board-room-meeting.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.Retail{
    background-image: url('/public/family-shopping-with-face-mask.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.Semiconductor{
    background-image: url('/public/closeup-electronic-circuit-board-with-cpu-microchip-electronic-components-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.ManWalking{
    background-image: url('/public//full-shot-man-walking-by-trucks-fleet.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.Utilities{
    background-image: url('/public/sun-setting-silhouette-electricity-pylons.jpg');
    background-size:cover ;
    background-repeat: no-repeat;
}